#poetry_body{
    background-color: 		#57CAF4;
    /*background-image: url("w1500_51838501.jpg");*/
}

#poetry_header{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
.pname{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.poetry_table{

}